@charset "UTF-8";

:root {
   --cor1:#3E76F0;
   --cor2:#34A6F7;
   --cor3:#3AC7E0;
   --cor4:#6DF7E5;
   --cor5:#69F0B8;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    background-color: var(--cor1);
    text-align: center;
    min-height: 113px;
    padding-top: 10px;
    padding-bottom: 1px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media (min-width:250px) and (max-width:750) {
    header {
        min-height: 11px;
        padding-top: 8px;
    }

}

header picture {
    height: 125px;
}

img.logo {
    height: 85px;
}

@media (min-width: 250px) and (max-width: 800px) {
    img.logo {
       height: 80px;
    }
    
}

nav {
    background-color: rgba(34, 93, 221, 0.842);
    box-shadow: 6px 2px 10px 2px rgba(0, 0, 0, 0.144);
    padding: 12px;
    font-size: 1.1em;
    font-family: 'RobotoBold', Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 17.6%;
}

@media (min-width:250px) and (max-width:800px) {
nav {
    top: 17%;
}
}


nav > a {
    color: rgb(206, 203, 203);
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-top: 200px;
    background-color: rgb(243, 240, 240);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width:250px) and (max-width:800px) {
    main {
        padding-top: 170px;
    }
}

h2, h3 {
    text-align: center;
}

div.galeria {
    border: 1px solid #ccc;
}

div.galeria:hover {
    border: 1px solid #777;
}

div.galeria img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.home {
    padding: 0 6px;
    display: inline-block;
    width: 24.555555%;
}

@media only screen and (max-width: 700px) {
    .home {
        width: 49%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .home {
        width: 100%;
    }
}

.limpar:after {
    content: "";
    display: table;
    clear: both;
}

footer { /*Configuração geral*/
    background-color: var(--cor1);
    color: var(--cor5);
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer a { /*Link Rodapé*/
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {  /*Ao passar o mouse*/
    text-decoration: underline;
    color: var(--cor5);
}